/* Section */
.div5{
    position:relative;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 100%;
    background-color: #f3f3f3;
}

.globe{
    height: 100vh;
    width: 100%;
    bottom: 0;
}

.globe > img{
    height: 100%;
    width: 70%;
}

.inner-div5{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .inner-div5{
       grid-row: 1fr;
    }
}



.info{
    height: 90%;
    width: 45%;
    position: absolute;
    background-color:#161F1E;
    color: white;
    z-index: 4;
}

.div5-image{
    position: absolute;
    z-index: 10;
    width: 15%;
    height: 540px;
    margin-left: 27%;
    margin-top: -40px;
}


/* Section globe*/
/* Section mountain*/
.content-1 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    width: 100%;
    background-position: 67%;
    z-index: 1;
    margin-top: 10%;
}

.left-content {

    width: 40%;
    z-index: 400;
}

@media screen and (max-width: 800px) {
    .left-content {
        flex: 100%;
        flex-direction: row;
    }

    .right-content {
        flex: 100%;
        flex-direction: row;
    }

    .content-1 {
        flex-direction: row;
        background-image: none;
    }

}

.right-content {

    width: 60%;
    z-index: 2;
}

.img-right {

    margin-top: 20px;
    padding-left: 12rem;
    width: 80%;
    height: 90%;
}

.text-1 {
    padding-top: 120px;
    color: black;
    font-size: 40px;

    margin-left: 20%;
}

.text-2 {
    padding-top: 120px;
    color: black;
    font-size: 40px;

    margin-left: 5%;
}
.text-3 {
    text-align: center;
    color: black;
    margin-left: 5%;
    max-width: 30rem;
    line-height: 2rem;
}
.text-4 {
    text-align: center;
    color: black;
    margin-left: 10%;
    max-width: 30rem;
    line-height: 2rem;
}

.text-5 {
    
    color: black;
    margin-left: 20%;
    max-width: 30rem;
    line-height: 2rem;
    font-size: 40px;
}
.text-6 {
    text-align: center;
    color: black;
    margin-left: 20%;
    max-width: 30rem;
    line-height: 2rem;
}



.text-content {
    padding-top: 1.5rem;
    margin-left: 20%;
    margin-right: 18%;
    font-family: sans-serif;
    color: grey;
    font-size: 15px;
}

.img-left {
    height: 70%;
    width: 90%;
    margin-left: 15%;

}

/* Section mountain*/

/*Last Section*/
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    z-index: 200;
}

.center-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(200%) contrast(150%);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.column3{

    flex: 33.3%;

}
@media screen and (max-width: 800px){
.column3{
    flex-direction: row;
    flex: 100%;
}

}
